<div class="card">
  <div class="card-body">
    <div *ngIf="messages?.length === 0">
      <p>No messages yet... say hi my using the message box below</p>
    </div>

    <ul class="chat">
      <li *ngFor="let message of messages">

        <!-- to them -->
        <div *ngIf="message.senderId == recipientId">
          <span class="chat-image float-left">
            <img class="rounded-circle mr-1" src="{{message.senderPhotoUrl || '../../../assets/user.png'}}">
          </span>
          <div class="char-body">
            <div class="header">
              <strong class="primary-font">{{message.senderKnownAs}}</strong>
              <small class="text-muted float-right">
                <span class="fa fa-clock-o">&nbsp;{{message.messageSent | timeAgo}}</span>
              </small>
              <p>{{message.content}}</p>
            </div>
          </div>
        </div>

        <!-- to me -->
        <div *ngIf="message.senderId != recipientId">
          <span class="chat-image float-right">
            <img class="rounded-circle ml-1" src="{{message.senderPhotoUrl || '../../../assets/user.png'}}">
          </span>
          <div class="char-body">
            <div class="header">
              <small class="text-muted">
                <span class="fa fa-clock-o">&nbsp;{{message.messageSent | timeAgo}}</span>
                <span *ngIf="!message.isRead" class="text-danger">&nbsp;(unread)</span>
                <span *ngIf="message.isRead" class="text-success">&nbsp;(Read {{message.dateRead | timeAgo}})</span>
              </small>
              <strong class="primary-font float-right">{{message.senderKnownAs}}</strong>
              <p>{{message.content}}</p>
            </div>
          </div>
        </div>        
      </li>
    </ul>
  </div>

  <div class="card-footer">
    <form #messageForm="ngForm" (ngSubmit)="messageForm.valid && sendMessage()">
      <div class="input-group">
        <input type="text"
          [(ngModel)]="newMessage.content"
          name="content"
          required
          class="form-control input-sm" 
          placeholder="send a private message">
        <div class="input-group-append">
          <button class="btn btn-primary" [disabled]="!messageForm.valid">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
